name: Go tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      dind:
        image: docker:24.0-dind
        env:
          DOCKER_TLS_CERTDIR: ""
        options: >-
          --privileged
          --health-cmd "docker info"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 2375:2375

    env:
      DOCKER_HOST: tcp://localhost:2375
      DOCKER_TLS_CERTDIR: ""

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Run tests
        run: DOCKER_HOST=unix:///var/run/docker.sock go test -tags=integration -covermode atomic -coverprofile=covprofile ./...

      - name: Install goveralls
        run: go install github.com/mattn/goveralls@latest
      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
        run: goveralls -coverprofile=covprofile -service=github
